[submodule "lib/testlib"]
	path = lib/testlib
	url = git@github.com:MikeMirzayanov/testlib.git
[submodule "lib/dbg-macro"]
	path = lib/dbg-macro
	url = git@github.com:sharkdp/dbg-macro.git
[submodule "lib/ac-library"]
	path = lib/ac-library
	url = git@github.com:atcoder/ac-library.git
[submodule "lib/tifa-lib"]
	path = lib/tifa-lib
	url = git@github.com:Tiphereth-A/CP-lib.git
[submodule "lib/magic-cpp"]
	path = lib/magic-cpp
	url = git@github.com:16bit-ykiko/magic-cpp.git
